body {
  background-color: #ccdfff;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 60%;
  margin: auto;
}

button {
  padding: 5px;
  margin: 1rem;
  font-size: 20px;
  background-color: #bac6d9;
  border-radius: 5px;
}

p {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  width: 50%;
  margin: 1rem auto;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
